
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

/* Navigation styles (optional) */
nav {
    background-color: #333;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: #fff;
    padding: 0 15px;
}

main {
    max-width: 960px;
    margin: 0 auto;
    padding: 1rem;
    background-color: #393183; /* Set a background color for the main section */
    border: 1px solid #258c55; /* Add a border around the main section */
    border-radius: 5px; /* Add rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Apply a box shadow for depth */
}
    

/* Hero section styles */
.hero {
    background-image: url('./assets/travel-image.jpg');
    background-size: cover;
    background-position:center;
    text-align: center;
    padding: 2rem;
    color: #fff;
}

/* Search form styles */
.search-form {
    background-color: #fff;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.search-form h2 {
    font-size: 24px;
    margin-bottom: 1rem;
}

.form-group {
    margin-bottom: 1rem;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="date"],
input[type="number"] {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="button"],
button[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button[type="button"]:hover,
button[type="submit"]:hover {
    background-color: #555;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}
